body{
  background-color: black;

}
h3{
  color: dodgerblue;
  align-items: center;
  justify-content: center;
font-size: 40px;
  
}
.content p {
  justify-content: left;
  align-items: left;
  color: white;
  font-size: 20px;
  
}

.content img {
  justify-content: center;
  align-items: center;
  color: dodgerblue;
  height: 500px;
  width: 600px;
}
.container form{
color: white;
font-size: 25px;
}